<body class="background">
<header >

  <lib-glass-dialog [dialogWidth]="'100vw'" [dialogBorderRadius]="'0px'" [dialogPadding]="'0px'"

  >

    <div dialog>
      <h1>heder content</h1>
    </div>

  </lib-glass-dialog>

</header>

<section class="content-container">
  <lib-glass-dialog 
    
  >

    <div class="main-content" dialog>
      <label for="email">enter email</label>
      <input id="email" type="email" >


      <label for="email">enter password</label>
      <input id="password" type="password" > 
    </div>

  </lib-glass-dialog>
</section>

<footer>
  <lib-glass-dialog [dialogWidth]="'100vw'" [dialogBorderRadius]="'0px'" [dialogPadding]="'0px'"

  >

    <div  dialog>
      <p>footer content</p>
    </div>

  </lib-glass-dialog>
</footer>
</body>